@media(max-width:1024px) {

    body {
        margin: 0;
        font-family: 'Work Sans', sans-serif;
    }

    .container {
        width: 1000px;
        margin-left: 2%;

    }

    .photo img {
        width: 494px;
        height: 497px;
    }

    .potocolection {
        width: 100%;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(5, 30rem);
    }

    .hovering {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        background-color: #E4A601;
        text-align: center;
        opacity: 0;
        transition: .8s ease;
        text-decoration: none;
        color: white;
        text-align: center;

    }

    .hovering:hover {
        opacity: 1;
    }

}




@media(max-width:2560px) {

    body {
        margin: 0;
        font-family: 'Work Sans', sans-serif;
        background-color: blanchedalmond;
    }

    .container {
        width: 2000px;
        /* margin-left: 1%; */

    }

    .titels{
       width:2300px;
       margin-left:10vh;
    }

    .titel1{
        background-color: beige;
        padding-top:40vh;
        height:1194px;

    }

    .navbar {

        width: 2300px;
        /* height: 72px; */
        /* margin-left:50vh; */
        margin-left:160px;
        margin-right:100px;
        padding-top:15px;
        background-color: #666666;
    }


    .photo a img {
        width: 456.494px;
        height: 456.494px;
    }

    .potocolection {
        margin-top:10vh;
        width: 2300px;
        /* margin-left: 50vh; */
        display: grid;
        grid-template-columns: repeat(5, 456.494px);
    }

    .hovering {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        background-color: #E4A601;
        text-align: center;
        opacity: 0;
        transition: .8s ease;
        text-decoration: none;
        color: white;
        text-align: center;

    }

    .hovering:hover {
        opacity: 1;
    }

    .end{
       width: 2285px;
       margin-left:130px;
    
    }

  
}